apiVersion: v1
kind: ConfigMap
metadata:
  name: backend-config
data:
  SPRING_DATASOURCE_URL: jdbc:mysql://13.219.75.105:3306/student_db?createDatabaseIfNotExist=true
  SPRING_DATASOURCE_USERNAME: admin
  FRONTEND_URL: http://localhost:5173







