apiVersion: apps/v1 
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 1
  selector:
    matchLabels:
       app: backend
  template:
    metadata:
      name: tmp-1
      labels: 
        app: backend
    spec:
        containers:
         - name: cont1
           image: abhipraydh96/b31-backend
           ports:
            - containerPort: 80
